<div class='content-top'>
  <div class='grid-item'>
  </div>
  <div class='grid-item'><h1><%= @game.player_one.name%></h1></div>
  <div class='grid-item'><h1>vs</h1></div>
  <div class='grid-item'><h1><%= @game.player_two.name%></h1></div>
  <div class='grid-item'>
  </div>
</div>

<div class='content'>

  <div class='grid-item'>
  </div>

  <div class='grid-item'>
  <img src="https://thispersondoesnotexist.com/image">
    <p><%= @game.player_one.name%>: <%= @game.player_one.hp%>HP</p>
  </div>

  <div class='grid-item'>
  </div>

  <div class='grid-item'>
  <img src="https://thiscatdoesnotexist.com/">
    <p><%= @game.player_two.name%>: <%= @game.player_two.hp%>HP</p>
  </div>

  <div class='grid-item'>
  </div>

</div>

<div>
<h2><%= @game.current_turn.name%>'s turn</h2>
<form action='/attack'>
<input type='submit' value='Attack' class='button'>
<input type='submit' value='Special' class='button'>
<input type='submit' value='Heal' class='button'>
</form>
</div>
